body {
    overflow: scroll;
    font-family: sans-serif;
}

.title {
    text-align: left;
    font-size: 20px;
}

#map {
    float: left;
    width: 50%;
    height: 300px;
}

.tableTitle {
    font-size: 25px;
    display: inline;
}

#table_info {
    color: grey;
    margin-left: 10px;
    display: inline;
}

#propertiesTable {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 14px;
}

.table-static-header td {
    width: 33%;
}

#table-wrapper {
    margin: 10px 0px 40px auto;
    height: 260px;
}

.table-rows-table-wrapper{
    height: inherit;
    background: #eeeeee;
	overflow-y: scroll;
    overflow-x: hidden;
    
}

.table-static-header, #table-rows-table{
    table-layout: fixed;
    width: 100%; 
    border-collapse: collapse; 
    
}

.table-static-header-row td{ 
    padding:7px; 
    text-align: left;
    background: #666666;
    color: #ffffff;
}

#table-titles {
    background-color: #000;
}

#table-rows-table td{
    padding:7px; 
    width: inherit;
    text-align: left;
    
}
/* Define the default color for all the table rows */
#table-rows-table tr{
	text-align: left;
    background: #eeeeee;
}
/* Define the hover highlight color for the table row */ 
#table-rows-table tbody tr:hover {
      background: #dddddd;
}


.favourite {
    /*background-color: #F0D1FF !important;*/
    background-color: #EBC2FF !important;
}

.selected{
    /*background-color: #d4d4d4 !important;*/
    /*border: thin solid #666666;*/
}

tr.top td { border-top: thin solid black; }
tr.bottom td { border-bottom: thin solid black; }
tr.selected td:first-child { border-left: thin solid black; }
tr.selected td:last-child { border-right: thin solid black; }

.content {
    /*background-color: #e0e0e0;*/
}

.data {
}

#home-data-title {
    margin-top: 65px;
    font-size: 18px;
    width: 50%;
}

#home-data {
    float: left;
    height: 300px;
    overflow: scroll;
    font-size: 14px;
    width: 50%;
}

.row-title {
    float: left;
}

.row-desc {
    float: left;
    margin-left: 10px;
}

.zillow-link {
    cursor: pointer;
    float: left;
    font-weight: bold;
    margin-left: 10px;
    /*background-color: #ffffff !important;*/
}

.fav-toggle {
    cursor: pointer;
    float: left;
}

#table-rows-table td, .table-static-header td{
    width: 200px;
}

.highlight {
    background: #ffffff;
}